/* General Styling */
body {
    background-color: #F5F5F5;
    font-family: 'Open Sans', sans-serif;
}

.flex {
	display: flex;
}

a {
	color: #000;
}

a:hover {
	opacity: 0.70;
	text-decoration: none;
	color: #000;
}

.dropdown a::after {
	display: inline-block;
	margin-left: .255em;
	vertical-align: .255em;
	content: "";
	border-top: .3em solid;
	border-right: .3em solid transparent;
	border-bottom: 0;
	border-left: .3em solid transparent;
}

/* Navigation */
#main-navigation-div {
	margin: auto;
	width: 75%;
	max-width: 1000px;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: lightgrey;
	padding-bottom: 25px;
}

#thomas-head {
	font-weight: 900;
	font-size: 18pt;
	padding-top: 15px;
	padding-left: 15px;
}

/* Navigation bar */
#navigation-bar-div {
    justify-content: center;
    padding-top: 0px;
}

#navigation-bar-div a {
	color: #000;
	font-weight: 700
}

#navigation-bar-div li {
	display: flex;
	justify-content: flex-end;
	flex-direction: column; 
}

.sub-link-div {
	visibility: hidden;
}

#navigation-bar-div .sub-link-div a {
	text-align: center;
	color: #000;
	font-weight: 400;
	display: block;	
}

/* Archiv */
#archiv-tiles-div {
	justify-content: center;
	visibility: hidden;
}

#archiv-tiles-div ul {
	width: 50%;
}

#archiv-tiles-div li {
	width: 25%;
}

#archiv-tiles-div a {
	text-align: center;
	color: #000;
}

/* Arbeiten */
#arbeiten-tiles-div {
	display: block;
}

.arbeiten-row-div {
    justify-content: space-between;
    padding-bottom: 25px;
}

.arbeiten-single-div {
	width: 45%;
	padding-right: 0%;
	padding-left: 0%;
}

.arbeiten-single-img {
	width: 100%;
}

.arbeiten-single-img:hover {
    opacity: 0.65;
}

/* Arbeiten nav animation */
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

/* Home Page Specific Styling */
body.home #arbeiten-tiles-div {
	display: block;
}

body.home #a-arbeiten {
	opacity: 0.5;
}

/* Main Content */
#main-content {
	margin: auto;
	width: 75%;
	max-width: 1000px;
	padding-top: 50px;
}

.arbeiten-works-list {
	width: 40%;
	padding-right: 25px;
}

.arbeiten-works-list ul {
	padding-left: 20px;
	list-style-type: none;
}

.arbeiten-works-list li {
	padding-bottom: 20px;
}

.arbeiten-works-list a:hover {
	text-decoration: underline;
}

.arbeiten-featured-media {
	width: 50%;
}

.arbeiten-audio {
	padding-top: 25px;
	width: 20%;
	margin-left: 50%;
	min-width: 200px;
}

.back-button {
	padding-top: 50px;
	padding-bottom: 25px;
}

/*Audio Player */
.mejs-container, .mejs-container .mejs-controls, .mejs-embed, .mejs-embed body
{
background: #bbc6d5 !important;
}

.mejs-horizontal-volume-slider { display: none !important; }

/* Single Content */
.single-image-div img {
	width: 100%;
}

.single-arbeiten-audio {
	padding-top: 25px;
	padding-bottom: 25px;
	width: 100%;
	float: left;
}

.single-video-div {
  position: relative;
  padding: 100% 0 0 0;
}

.single-video-div iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

/* Archiv Styling */
.archiv-container {
	padding-bottom: 25px;
}

#archiv-form {
	display: flex;
	justify-content: space-between;
	padding-bottom: 25px;
}

/* Checkbox styling */
.customsearchul {
	display: flex;
}

#searchType ul {
	padding-left: 0px;
}

#ck-button {
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
    margin-right: 5px;
}

#ck-button:hover {
    background: darkgrey;
}

#ck-button label {
    float:left;
    margin-bottom: 0px;
}

#ck-button label span {
    text-align:center;
    display:block;
}

#ck-button label input {
    position:absolute;
    top:-20px;
}

#ck-button input:checked + span {
    background-color: darkgrey;
    color:#fff;
}

/* Scrolling tiles */
.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding-bottom: 25px;
}

.scrolling-wrapper .archiv-card {
    flex: 0 0 auto;
    margin-right: 5%;
    width: 45%;
}

.scrolling-wrapper .archiv-card p {
    padding: 10px 25px 0px 25px;
}

.scrolling-wrapper .archiv-card .archiv-single-img {
	padding: 0 25px 0 25px;
	width: 100%;
}

.scrolling-wrapper::-webkit-scrollbar {
  width: 1em;
  height: 8px;
}

.scrolling-wrapper {
	scrollbar-width: thin;
	scrollbar-color: darkgrey;
}

.scrolling-wrapper::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

