/* General Styling */
body {
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    color: #FFF;
}

.flex {
	display: flex;
}

a {
	color: #FFF;
}

a:hover {
	opacity: 0.30;
	text-decoration: none;
	color: #FFF;
}

.dropdown a::after {
	display: inline-block;
	margin-left: .255em;
	vertical-align: .255em;
	content: "";
	border-top: .3em solid;
	border-right: .3em solid transparent;
	border-bottom: 0;
	border-left: .3em solid transparent;
}

/* Navigation */
#main-navigation-div {
	position: fixed;
  top: 0;
  background-color: #000;
  z-index: 100;
  width: 10%;
  margin-left: 90%;
  height: 100%;
}

.thomas-head {
	font-weight: 400;
	font-size: 18pt;
	color: #FFF;
  margin-left: -50%;
  width: 150%;
  padding-top: 25px;
  height: 125px;
}

/* Navigation bar */
#navigation-bar-div {
  width: 65%;
  justify-content: center;
  padding-top: 0px;
  position: relative;
  top: -15px;
}

#navigation-bar-div a {
	color: #FFF;
	font-weight: 400;
  text-decoration: underline;
}

#navigation-bar-div li {
	display: flex;
	justify-content: flex-start;
	flex-direction: column; 
  padding-left: 20px;
  max-height: 50px;
}

#navigation-bar-div ul {
  text-align: right;
  display: block;
}

.sub-link-div {
	visibility: hidden;
}

#navigation-bar-div .sub-link-div a {
	text-align: center;
	color: #FFF;
	font-weight: 400;
	display: block;	
}

/* Arbeiten */
#arbeiten-tiles-div {
	display: block;
}

.arbeiten-row-div {
    justify-content: space-between;
    padding-bottom: 0px;
}

.arbeiten-single-div {
	width: 50%;
	padding-right: 0%;
	padding-left: 0%;
}

.arbeiten-single-img {
	width: 100%;
  -webkit-transition: opacity 0.75s ease-in-out;
  -moz-transition: opacity 0.75s ease-in-out;
  -ms-transition: opacity 0.75s ease-in-out;
  -o-transition: opacity 0.75s ease-in-out;
  transition: opacity 0.75s ease-in-out;
}

.mobile_arbeiten_title {
  display: none;
}

.block {
  display: flex; /* required */
  flex-flow: row nowrap; /* required */
}
.block .background,
.block .foreground {
    box-sizing: border-box; /* required */
    width: 100%; /* required */
    flex: none; /* required */
}
.block .foreground {
    margin-left: -100%; /* required */
}

.block .background {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.arbeiten-single-div a:hover{
  opacity: 1.0;
}

.arbeiten-single-div:hover .arbeiten-single-img {
  opacity: 0.25;
}

.arbeiten-text-div {
	padding-top: 25px;
}

/* Arbeiten nav animation */
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

/* Home Page Specific Styling */
body.home #arbeiten-tiles-div {
	display: block;
}

/* Main Content */
#main-content {
	margin: auto;
	width: 65%;
	max-width: 1000px;
	padding-top: 125px;
	padding-bottom: 25px;
}

.arbeiten-category-div {
	display: flex;
	justify-content: space-between;
}

.arbeiten-category-title {
	padding-bottom: 15px;
}

.arbeiten-works-list {
	width: 40%;
	padding-right: 25px;
}

.arbeiten-works-list ul {
	padding-left: 0px;
	list-style-type: none;
}

.arbeiten-works-list li {
	padding-bottom: 10px;
}

.arbeiten-works-list a:hover {
	text-decoration: underline;
}

#radio-works-list ul {
  padding-left: 25px;
  padding-top: 15px;
}

.arbeiten-featured-media {
	width: 50%;
}

.arbeiten-category-video-div {
	position: relative;
    padding: 56.25% 0 0 0;
}

.arbeiten-category-video-div iframe {
	position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.arbeiten-audio {
	padding-top: 75px;
	width: 40%;
	margin-left: 0%;
	min-width: 200px;
	padding-bottom: 25px;
}

.back-button {
	padding-top: 50px;
	padding-bottom: 25px;
}

.arbeiten-main-img {
	width: 100%;
}

/*Audio Player */
.mejs-container, .mejs-container .mejs-controls, .mejs-embed, .mejs-embed body
{
background: #bbc6d5 !important;
}

.mejs-horizontal-volume-slider { display: none !important; }

/* Single Content */
.single-arbeiten-content {
  padding-top: 50px;
}

.single-image-div {
  padding-bottom: 25px
}

.single-image-div img {
	width: 100%;
}

.single-arbeiten-audio {
	padding-top: 25px;
	padding-bottom: 25px;
	width: 100%;
	float: left;
}

.single-video-div {
  position: relative;
  padding: 73.17% 0 0 0;
  padding-bottom: 30px;
}

.single-video-div iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

#single-gallery-div {
  padding-top: 25px;
}

/* Archiv Styling */
.archiv-container {
	padding-bottom: 25px;
}

.archiv-period-title {
	text-align: left;
  position: relative;
  margin-bottom: -40px;
  padding-left: 10px;
  z-index: 1;
  text-decoration: underline;
}

#archiv-form {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}

/* Checkbox styling */
.customsearchul {
  display: flex;
}

#searchType ul {
  padding-left: 0px;
}

#ck-button {
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
    margin-right: 5px;
}

#ck-button:hover {
    background: darkgrey;
}

#ck-button label {
    float:left;
    margin-bottom: 0px;
}

#ck-button label span {
    text-align:center;
    display:block;
}

#ck-button label input {
    position:absolute;
    top:-20px;
}

#ck-button input:checked + span {
    background-color: darkgrey;
    color:#fff;
}

/* Scrolling tiles */
.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding-bottom: 25px;
}

.scrolling-wrapper .archiv-card {
    flex: 0 0 auto;
    margin-right: 0%;
}

.scrolling-wrapper .archiv-card-text-div {
    display: none;
}

.scrolling-wrapper .archiv-card .archiv-single-img img {
	padding: 0 5px 0 5px;
  height: 500px;
}

.archiv-card .archiv-card-feather-div {
  display: none;
}

.scrolling-wrapper::-webkit-scrollbar {
  width: 1em;
  height: 8px;
}

.scrolling-wrapper {
  scrollbar-width: thin;
  scrollbar-color: darkgrey;
}

.scrolling-wrapper::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* Archiv tiles styling specifically for inside the featherlight-content */
.featherlight-content .archiv-card-feather-div {
  height: 80vh;
  max-height: 1000px;
  display: flex !important;
}

.featherlight-content .archiv-single-img {
  width: 65%;
  padding-right: 25px;
}

.featherlight-content .archiv-single-img img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.featherlight-content a {
  color: #000 !important;
}

.featherlight-content .archiv-card-text-div {
  width: 35%;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: darkgrey;
}

/* Lightbox styling */
.featherlight {
  background-color: #000 !important;  
}

.featherlight .featherlight-content {
  background-color: #fff !important;  
}

.featherlight .featherlight-content {
  height: 80vh;  
  max-height: 1000px;
}

.featherlight .featherlight-close-icon {
  background-color: black !important;
}


/* Mobile */
@media only screen and (max-width: 1000px) {
  #main-navigation-div {
    width: 100%; 
    padding-left: 0%;
    font-size: 30pt;
    display: block;
  }

  #navigation-bar-div {
    width: 100%;
  }

  #navigation-bar-div li {
    padding-left: 5px;
    padding-right: 5px;
    max-height: 75px;
  }

  .thomas-head {
    font-size: 37pt;
    padding-left: 5%;
  }

  #thomas-head-2 {
    display: none;
  }

  .mobile_arbeiten_title{
    display: block;
    text-align: right;
    font-size: 30pt;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .block {
    display: block;
  }

  .block .background {
    display: none;
  }

  .block .foreground {
    margin-left: 0%;
  }

  #main-content {
    width: 100% !important;
    margin-left: 0px;
    padding-left: 5%;
    padding-right: 5%;
  }

  .arbeiten-category-div {
  	flex-direction: column;
  }

  .arbeiten-row-div {
    display: block;
  }

  .arbeiten-single-div {
    width: 100%;
  }

  #main-content .arbeiten-featured-media {
  	width: 100%;
  }

  #main-content .arbeiten-works-list {
  	width: 100%;
  }

  #main-content .arbeiten-audio {
  	width: 100%;
  	margin-left: 0%;
  }
  #main-content p {
    font-size: 32pt; 
  }

  #main-content a {
    font-size: 32pt; 
  }

  #main-content h2 {
  	font-size: 37pt;
  }

  #radio-works-list {
    font-size: 32pt;
  }

  #archiv-form {
  	font-size: 3pt;
  }

  .archiv-card {
  	margin-right: 5% !important;
  }

  .scrolling-wrapper::-webkit-scrollbar {
  	width: 3em;
  	height: 20px;
  }

  .scrolling-wrapper {
	scrollbar-width: auto;
	scrollbar-color: darkgrey;
  }

}
